<div class="container" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div fxLayout="row" fxLayoutAlign="center">
            <span><a routerLink="/{{username}}">{{username}}</a></span>
            <mat-icon>chevron_right</mat-icon>
            <span>{{title}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-card fxLayout="row" fxLayoutAlign="center">
                <mat-icon>movie</mat-icon>
                <div>{{clips.length}}</div>
            </mat-card>
            <mat-card fxLayout="row" fxLayoutAlign="center">
                <button mat-button (click)="onFavoriteClick()">
                    <mat-icon>{{favorited ? 'favorite' :'favorite_border'}}</mat-icon>
                </button>
                <div>{{favorites}}</div>
            </mat-card>
            <mat-card fxLayout="row" fxLayoutAlign="center">
                <button mat-button (click)="onDeleteClick()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card>
        </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center">
        <div *ngFor="let clip of clips;">
            <app-video-card [source]="clip.source" [caption]="clip.caption" [clipId]="clip.clipId"></app-video-card>
        </div>
    </div>

    
</div>
